<header>
    <h1>Parking APP</h1>
    <nav>
        <a [routerLink]="['/parking-status']" routerLinkActive="link-active">Estado Cocheras</a>
        @if (esAdmin) {
            <a [routerLink]="['/reportes']" routerLinkActive="link-active">Reportes</a>
            <a [routerLink]="['/precios']" routerLinkActive="link-active">Precios</a>
        }
        <div class="usuario" (mouseenter)="mostrarDropdown = true" (mouseleave)="mostrarDropdown = false">
            <a>Perfil</a>
            <div class="dropdown">
                @if (mostrarDropdown) {
                    <button (click)="cerrarSesion()">Cerrar Sesión</button>
                }
            </div>
        </div>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>
